
@use './variables' as *;
@use './blocks/promo';
@use './blocks/header';
@use './blocks/buttons';
@use './blocks/preference';
@use './blocks/forms';
@use './blocks/consultation';
@use './blocks/slider';
@use './blocks/catalog';
@use './blocks/reviews';
@use './blocks/footer';
@use './blocks/modal';
@use './blocks/pageup';
@use './blocks/animations';
@use '../libs/stylesheet';
@use '../libs/slick';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
