@use '../variables' as *;

.catalog {
    padding: 80px 0;
  
    &__title {
        font-size: 30px;
        line-height: 45px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 45px;
    }

    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
    }

    &__tab {
        margin: 0 5px;
        width: 220px;
        height: 50px;
        border: 2px solid #6B6B6B;
        font-size: 18px;
        line-height: 48px;
        font-weight: 400;
        color: #6B6B6B;
        text-transform:uppercase;
        text-align: center;
        transform: skewX(-25deg);
        transition: 0.5s all;
        cursor: pointer;
        &:hover {
            box-shadow: 1px 2px 5px $main-color;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            background-color: $main-color;
            color:aliceblue;
            border: 2px solid $main-color;
            border: none;
        }
    }
    &__content {
        display: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;
        &_active {
            display: flex;
        }
    }

    &-item {
        overflow: hidden;
        width: 300px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        // padding: 20px 20px 26px 20px;
        margin-top: 60px;
        margin-bottom: -40px;
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 20px));
            color: $main-color;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            text-decoration: underline;
}
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 140px;
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 16px;
            font-weight: 900;
            margin-bottom: 15px;
            text-align: center;
        }
        &__descr {
            width: 280px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            margin-bottom: 10px;
            text-align: center;
        }
        &__link {
            display: block;
            color: $main-color;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            // margin-bottom: 20px;
            text-align: center;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
            padding: 0;
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            transform: translateX(0%);
            margin-left: 20px;
            transition: 0.5s all;
            padding-left: 1px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                margin-left: 0px;
                transform: translateX(-100%);
            }
            li {
                position: relative;
                width: 250px;
                color:#6B6B6B;
                font-size: 14px;
                line-height: 21px;
                font-weight: 300;
                margin-bottom: 10px;
                margin-left: 35px;
                &::before {
                    content: '';
                    position: absolute;
                    left: -14px;
                    top: 7px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
            }
        }
        hr {
            border-bottom: none;
            background-color: #E8E8E8;
            margin-bottom: 20px;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items:center;
        }
        &__old-price {
            color:#6B6B6B;
            font-size: 14px;
            font-weight: 300;
            text-decoration: line-through;
            padding-left: 20px;
        }
        &__new-price {
            font-size: 20px;
            font-weight: 900;
             padding-left: 20px;
        }
    }

}
