.preference {
    background: $second-color;
    min-height: 473px;
    padding-top: 70px;
    &__title {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 900;
        color: $third-color;
        text-align: center;
        margin-bottom: 60px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 280px;
        font-size: 14px;
        font-weight: 300;
        color: $third-color;
        justify-content: center;
        align-items:center;
        text-align: center;
        h3 {
             text-transform: uppercase;
             margin-bottom: 20px;
             margin-top: 35px;
        }
        a {
            color: $main-color;
            text-transform: uppercase;
        }
    }
}